{% extends 'admin/base.html.twig' %}

{% block content %}
    <div class="text-xl">
        <span class="ti ti-building-store text-2xl"></span>
        Izmena tenanta #{{ tenant.id }}
    </div>

    <div class="divider"></div>

    {% form_theme form with ['form.html.twig'] %}
    {{ form(form) }}
{% endblock %}
