{% extends 'base.html.twig' %}

{% block title %}New Tenant{% endblock %}

{% block body %}
    <h1>Create new Tenant</h1>

    {{ include('admin/tenant/_form.html.twig') }}

    <a href="{{ path('admin_tenant_list') }}">back to list</a>
{% endblock %}
